.cal{
    float: left;
    width:50%;
    background-color: rgb(202, 182, 145);
    margin: 5% 0% 0% 25%;
    text-align: center;
}
.cal input,.cal select{
    float: left;
    width: 22%;
    margin: 5% 4% 10% 7%;
    font-size: 20px;
    padding: 0.5%;
}
.cal button{
    float: left;
    margin: 0% 0% 5% 35%;
    width: 30%;
    padding: 0.5%;
    font-size: 20px;
}
.out{
    float: left;
    width: 30%;
    text-align: center;
    font-size: 30px;
    margin: 5% 0% 0% 35%;
}
.login{
    float: left;
    width: 40%;
    background-color: bisque;
    margin: 10% 0% 0% 30%;
    text-align: center;
}
.login input,.login button{
    float: left;
    width: 80%;
    margin: 3% 0% 0% 10%;
    font-size: 20px;
}